.headerNav{
    background-color: crimson;
    color: white;
    display: flex;
    justify-content: space-between;
    max-height: 40px;

}
.ancherLink a{
    color:white;
    text-decoration: none;
    font-size: larger;
    margin: 10px;
}
.ancherLink a:hover{
    color: black;
    transition: 0.5s;
}