<app-header></app-header>

<div class="completeDiv">
  <div class="loginDiv">Login...</div>
  <form [formGroup]="loginForm">
    <div class="labelDiv">
        <i class="bi bi-person-circle"></i><label>Enter User Email</label>
      <div class="inputDiv">
        <input
          formControlName="email"
          type="email"
          class="username"
          placeholder="Enter your Email"
        />
        
      </div>
      <!-- <small class="text-danger" *ngIf="loginForm.controls['email'].dirty && loginForm.hasError('required','email')">*Email is required</small> -->
      <p
        *ngIf="
          loginForm.controls['email'].invalid &&
          (loginForm.controls['email'].dirty ||
            loginForm.controls['email'].touched)
        "
        class="text-danger"
      >
        <small *ngIf="loginForm.controls['email'].errors?.['required']">
          *Email is required.
        </small>
      </p>
    </div>
    <div class="labelDiv">
        <i class="bi bi-key"></i><label>Password</label>
    </div>
    <div class="inputDiv">
      <input
        formControlName="password"
        type="password"
        placeholder="Enter your password"
        class="passwordInput"
      />
    </div>
    <p
      *ngIf="
        loginForm.controls['password'].invalid &&
        (loginForm.controls['password'].dirty ||
          loginForm.controls['password'].touched)
      "
      class="text-danger"
    >
      <small *ngIf="loginForm.controls['password'].errors?.['required']">
        *Password is required.
      </small>
    </p>
    <div class="submitDiv">
      <input [disabled]="!loginForm.valid"
        type="submit"
        value="Login"
        class="submitInput"
        (click)="login()"
      />
    </div>
    <label class="ForUser"
      >If You are new User Please
      <a routerLink="/register">Click Here To Register</a></label
    >
  </form>
</div>

<!-- class.is-invalid]="loginForm.controls('email').invalid && loginForm.controls('email')   .touched"  -->
